* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

@font-face {
    font-family: Gotham;
    src: url('../fonts/GothamLight.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Gotham;
    src: url('../fonts/GothamMedium.ttf');
    font-weight: 600;
}

body {
    font-family: Gotham;
    font-weight: 400;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

/* NAVBAR */
nav {
    background-color: #000;
    color: #b3b3b3;
    display: flex;
    flex: 0 0 50px;
    flex-direction: column;
    justify-content: space-between;
    /* float: left; */
    height: calc(100% - 90px); /* ??? */
    font-weight: 600;
}

nav a {
    transition: 0.2s linear;
}

nav a:hover {
    color: #fff;
}

/* NAVBAR HEADER */
.nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* logo */
.logo-small {
    padding: 10px;
}

.logo-big {

}

.logo-small img{
    height: 30px;
}

.logo-big svg {
    height: 30px;
    color: #fff;
    margin-bottom: 20px;
}

/* buttons */
.nav-btns-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.nav-btns-container a {
    text-decoration: none;
    color: #b3b3b3;
}

.nav-btn {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.nav-icon {
    height: 24px;
    width: 24px;
}

.nav-icon-text {
    font-size: 15px;
}

/* navbar playlist */
.nav-playlist-container a {
    text-decoration: none;
    color: #b3b3b3;
}

.playlist-label {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
}

.btn-create-playlist {
    display: flex;
    align-items: center;
}

.btn-create-playlist:hover .square-playlist {
    background-color: #fff;
}

.square-playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    background-color: #b3b3b3;
    transition: 0.2s linear;
}

.square-playlist .fa-plus {
    color: #000;
}

.create-playlist-text {
    font-size: 15px;
}

/* NAVBAR FOOTER */
.nav-footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-footer a {
    color: #b3b3b3;
    text-decoration: none;
}
.btn-download-app {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0 10px;
    border-bottom: 1px solid #b3b3b3;
}

.btn-download-app .fa-arrow-circle-down {
    margin-right: 10px;
}

.text-download-app {
    font-size: 13px;
}

.btn-user-profile {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.btn-user-profile .fa-user-circle {
    font-size: 30px;
    margin-right: 10px;
}

/* SUB CONTAINER */
.sub-container {
    /* display: flex;
    flex-direction: column; */
    flex: 1 1 auto;
}

/* TOP BAR */
.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 0 20px;
    height: 80px;
    width: calc(100% - 50px);
    /* flex: 1 1 calc(100% - 230px); */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.top-bar a {
    font-weight: 600;
    font-size: 13px;
    /* margin: 0 20px; */
    padding: 7px 25px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 50px;
    transition: 0.1s;
}

.top-bar a:hover {
    transform: scale(1.05);
    color: #1db954;
    border-color: #1db954;
}

/* MAIN */
main {
    float: left;
    background-color: #121212;
    height: 100vh;
    width: calc(100vw - 50px);
    overflow: auto;
}

.main-container {
    padding-top: 80px;
    padding-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
}

/* main menu */
.main-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15px 0;
}

.main-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.main-menu li {
    margin: 10px;
}

.main-menu a {
    position: relative;
    padding-bottom: 7px;
    text-decoration: none;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 600;
}

.underline-effect {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1db954;
    height: 2px;
    width: 0px;
    transition: 0.3s;
}

.main-menu a:hover .underline-effect {
    width: 80%;
    /* transform: scaleX(); */
}

/* albums */
.album {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    flex: 1 1 100px;
}

.cover {
    position: relative;
    line-height: 0;
}

.cover img {
    border-radius: 3px;
    width: 100%;
}

.cover-icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    color: #fff;
}

.overlay-cover {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);

}

.cover:hover .overlay-cover,
.cover:hover .cover-icon {
    display: block;
}

.description {
    margin-top: 10px;
    text-align: center;
}

.title {
    color: #fff;
    font-weight: 600;
}

.artist {
    font-size: 13px;
    text-decoration: none;
    color: #b3b3b3;
    transition: 0.2s;
}

.artist:hover {
    color: #1db954;
}

/* PLAYER BAR */
.player-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: #282828;
    padding: 10px;
}

/* player bar left */
.pb-left {
    display: none;
}

.m-pb-left {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    flex: 1 0 25%;
}

.m-pb-song-container {
    display: flex;
    /* align-items: center; */
    /* flex: 0 1 141px; */
}

.m-song-img {
    line-height: 0;
    margin-right: 12px;
}

.m-song-img img {
    width: 35px;
    /* height: 100%; */
}

.m-song-description {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.m-song-description a {
    text-decoration: none;
    margin-right: 12px;
    font-weight: 600;
}

.m-song-title {
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    border-bottom: 1px dashed rgba(0,0,0,0);
    transition: 0.2s;
}

.m-song-title:hover {
    border-bottom: 1px dashed #fff;
}

.m-song-artist {
    color: #b3b3b3;
    font-size: 10px;
    line-height: 15px;
    transition: 0.2s;
}

.m-song-artist:hover {
    color: #1db954;
}

.m-pb-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* flex: 0 1 45px; */
}
.m-pb-icons a {
    text-decoration: none;
    color: #b3b3b3;
    line-height: 0px;
}

/* .pb-icons a:hover .fa-heart {
    background-color: #b3b3b3;
} */

/* player bar center */
.pb-center {
    display: none;
}

.m-pb-center {
    display: flex;
    flex: 2 0 50%;
    padding: 0 10px;

    height: 100%;
    border: 1px solid white;
}

/* player bar right */
.pb-right {
    display: none;
}

.m-pb-right {
    display: flex;
    flex: 1 0 25%;
    height: 100%;
    border: 1px solid white;
}

/* up to Smartphone Large */
@media screen and (max-width: 425px) {

    .logo-big,
    .nav-icon-text,
    .nav-playlist-container,
    .nav-footer {
        display: none;
    }

}

/* Tablet and Monitor */
@media screen and (min-width: 426px) {

    /* NAVBAR */
    nav {
        align-items: flex-start;
        padding: 20px;
        flex-basis: 230px;
    }

    .nav-header {
        align-items: flex-start;
    }
    /* logo */
    .logo-small {
        display: none;
    }

    /* navbar buttons */
    .nav-icon {
        margin-right: 10px;
    }

    .top-bar {
        width: calc(100% - 230px);
    }

    main {
        width: calc(100vw - 230px);
    }

    .album {
        flex: 1 1 100px;
    }


}

/* SOLO Monitor */
@media screen and (min-width: 769px) {

    .album {
        flex: 1 1 150px;
    }

    /* PLAYER BAR */
    .player-bar {
        padding: 15px;
    }

    /* player bar left */
    .m-pb-left {
        display: none;
    }

    .pb-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 1 220px;
    }

    .pb-song-container {
        display: flex;
        align-items: center;
        flex: 0 1 141px;
    }

    .song-img {
        line-height: 0;
        margin-right: 12px;
    }

    .song-img img {
        width: 50px;
    }

    .song-description {
        display: flex;
        flex-direction: column;
    }

    .song-description a {
        text-decoration: none;
        margin-right: 12px;
        font-weight: 600;
    }

    .song-title {
        color: #fff;
        font-size: 13px;
        line-height: 20px;
        border-bottom: 1px dashed rgba(0,0,0,0);
        transition: 0.2s;
    }

    .song-title:hover {
        border-bottom: 1px dashed #fff;
    }

    .song-artist {
        color: #b3b3b3;
        font-size: 10px;
        line-height: 15px;
        transition: 0.2s;
    }

    .song-artist:hover {
        color: #1db954;
    }

    .pb-icons {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 0 1 45px;
    }
    .pb-icons a {
        text-decoration: none;
        color: #b3b3b3;
    }

    /* player bar center */
    .m-pb-center {
        display: none;
    }

    .pb-center {
        display: flex;
        flex: 0 2 450px;
        margin: 0 15px;
        /* da cancellare */
        height: 100%;
        border: 1px solid white;
    }

    /* player bar right */
    .m-pb-right {
        display: none;
    }

    .pb-right {
        display: flex;
        flex: 0 1 220px;
        height: 100%;
        border: 1px solid white;
    }
}

/* SOLO Monitor L */
@media screen and (min-width: 1025px) {

    .album {
        flex: 1 1 200px;
    }
}
