* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

@font-face {
    font-family: Gotham;
    src: url('../fonts/GothamLight.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Gotham;
    src: url('../fonts/GothamMedium.ttf');
    font-weight: 600;
}

body {
    font-family: Gotham;
    font-weight: 400;
}

/* NAVBAR */
nav {
    background-color: #000;
    color: #b3b3b3;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    max-width: 200px;
    font-weight: 600;
}

/* logo */
.logo-small {
    padding: 10px;
}

.logo-big {

}

.logo-small img{
    height: 30px;
}

.logo-big svg {
    height: 30px;
    color: #fff;
    margin-bottom: 20px;
}

/* buttons */
.nav-btns-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.nav-btns-container a {
    text-decoration: none;
    color: #b3b3b3;
}

.nav-btn {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.nav-icon {
    height: 24px;
    width: 24px;
}

/* navbar playlist */
.playlist-label {
    font-size: 14px;
    color: #fff;
}


/* navbar footer */
.nav-footer {
    align-self: flex-end;
}

/* up to Smartphone Large */
@media screen and (max-width: 425px) {

    .logo-big {
        display: none;
    }

    .nav-icon-text {
        display: none;
    }
}

/* Tablet and Computer */
@media screen and (min-width: 426px) {

    /* navbar */
    nav {
        align-items: flex-start;
        padding: 20px;
    }

    /* logo */
    .logo-small {
        display: none;
    }

    /* navbar buttons */
    .nav-icon {
        margin-right: 10px;
    }

    .nav-icon-text {
        font-size: 14px;
    }

    /* navbar playlist */
    .btn-create-playlist {
        display: flex;

    }
}

/* @media screen and (min-width: 769px) {

    .logo-big svg {
        height: 40px;
    }
} */
