* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

@font-face {
    font-family: Gotham;
    src: url('../fonts/GothamLight.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Gotham;
    src: url('../fonts/GothamMedium.ttf');
    font-weight: 600;
}

body {
    font-family: Gotham;
    font-weight: 400;
}

/* NAVBAR */
nav {
    background-color: #000;
    color: #b3b3b3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    height: 100vh; /* ??? */
    font-weight: 600;
}

nav a {
    transition: 0.2s linear;
}

nav a:hover {
    color: #fff;
}

/* nav header */
.nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* logo */
.logo-small {
    padding: 10px;
}

.logo-big {

}

.logo-small img{
    height: 30px;
}

.logo-big svg {
    height: 30px;
    color: #fff;
    margin-bottom: 20px;
}

/* buttons */
.nav-btns-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.nav-btns-container a {
    text-decoration: none;
    color: #b3b3b3;
}

.nav-btn {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.nav-icon {
    height: 24px;
    width: 24px;
}

.nav-icon-text {
    font-size: 15px;
}

/* navbar playlist */
.nav-playlist-container a {
    text-decoration: none;
    color: #b3b3b3;
}

.playlist-label {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
}

.btn-create-playlist {
    display: flex;
    align-items: center;
}

.btn-create-playlist:hover .square-playlist {
    background-color: #fff;
}

.square-playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    background-color: #b3b3b3;
    transition: 0.2s linear;
}

.square-playlist .fa-plus {
    color: #000;
}

.create-playlist-text {
    font-size: 15px;
}

/* navbar footer */
.nav-footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-footer a {
    color: #b3b3b3;
    text-decoration: none;
}
.btn-download-app {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0 10px;
    border-bottom: 1px solid #b3b3b3;
}

.btn-download-app .fa-arrow-circle-down {
    margin-right: 10px;
}

.text-download-app {
    font-size: 13px;
}

.btn-user-profile {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.btn-user-profile .fa-user-circle {
    font-size: 30px;
    margin-right: 10px;
}
/* up to Smartphone Large */
@media screen and (max-width: 425px) {

    .logo-big,
    .nav-icon-text,
    .nav-playlist-container,
    .nav-footer {
        display: none;
    }
}

/* Tablet and Computer */
@media screen and (min-width: 426px) {

    /* navbar */
    nav {
        align-items: flex-start;
        padding: 20px;
        width: 200px;
    }

    .nav-header {
        align-items: flex-start;
    }
    /* logo */
    .logo-small {
        display: none;
    }

    /* navbar buttons */
    .nav-icon {
        margin-right: 10px;
    }

}

/* @media screen and (min-width: 769px) {

    .logo-big svg {
        height: 40px;
    }
} */
